<h1>¿QUIENES SOMOS?</h1>

<img src="../../../assets/botco.jpeg" alt=""><br><br>

<a>Somos BotCO, un equipo de desarrollo de soluciones automatizadas y bots diseñados para facilitar y mejorar la vida de las personas. Nuestro objetivo es poder usar la tecnología como herramienta para mejorar la sociedad y así conseguir un mundo mejor y más justo. Estamos comprometidos en brindar soluciones innovadoras y eficientes que generen un impacto positivo en la vida de las personas y en la comunidad.</a><br><br>

<img class="fotoDexter" src="../../../assets/dexter.jpg">
<img class="fotoJoaquin" src="../../../assets/joaquin.jpg">